body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 69px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li a, header ul li a:visited, header ul li a:active {
  color: seashell;
  text-decoration: underline;
  margin-right: 0.5rem;
  margin-left: 1.5rem;
}

#our-mission {
  width: 1200px;
  height: 700px;
  margin: 69px auto;
  background-image: url(../images/img-mission-background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.slogan-container {
  background-color: black;
  width: 100%;
  line-height: 1rem;
}

.menu-container {
  width: 1000px;
  margin: auto;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}

.image-container {
  width: 300px;
  margin: 0.5rem;
}

.image-container img {
  height: 200px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
}

.image-container h4 {
  margin: 0;
}

#locations {
  height: 500px;
  width: 1200px;
  background-image: url('../images/img-locations-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#locations h2 {
  margin-bottom: 15px;
}

.locations-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-container {
  width: 300px;
  margin: 0 20px;
  background-color: black;
  padding: 0 1rem;
  line-height: 3rem;
}

.footer-container {
  height: 200px;
  width: 100%;
}

#copyright {
  text-align: left;
  padding-left: 20px;
  width: 100%;
}